/** === Custom Block Editor === */
@import url("https://use.typekit.net/het5epm.css");

/* Main column width */
.wp-block {
  width: 95%;
  max-width: 95%;
}
 
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  width: 95%;
  max-width: 95%;
}
 
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  width: 95%;
  max-width: 95%;
}


.components-placeholder {
	min-height: 1px;
}


/* Custom editor */
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #222;
  font-weight: 300;
  overflow-x: hidden;
}

a {
  color: #3c9548;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

a:hover, a:focus {
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.1;
  margin-bottom: 15px;
}

h6 {
  font-weight: 400;
}

h1 {
  font-size: 88px;
  line-height: 1;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 40px;
  font-family: "Chantal", sans-serif;
  font-style: italic;
  color: #3c9548;
}

h6 {
  font-size: 18px;
  font-family: "Rajdhani", sans-serif;
}

.post-type-post .editor-styles-wrapper h5 {
  font-family: "Rajdhani", sans-serif;
  color: #929292;
  font-style: normal;
  font-size: 20px;
}

.text-center, .sec_banner {
  text-align: center;
}

.wp-block-group {
  border:2px dashed #eee;
}

.icon_left {
  text-align: left;
  grid-template-columns: 25% 1fr !important;
}
.icon_left figure {
  float: left;
  max-width: 115px;
}
.icon_left h5 {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
}