
// Custom pager
.pager {
	position: relative;
	&.inline {
		display: inline-block;
	}
	a {
		font-size: 0;
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		opacity: 0.4;

		&:hover {
			opacity: 1;
		}
	}
	.pager-prev {
		background: url(../img/icn-chev-left.svg) no-repeat center;
	}
	.pager-next {
		background: url(../img/icn-chev-right.svg) no-repeat center;
	}

	/* gr - grey(default) red(hover) */
	&.gr {
		.pager-prev {
			&:hover {
				background: url(../img/icn-chev-left-r.svg) no-repeat center;
			}
		}
		.pager-next {
			&:hover {
				background: url(../img/icn-chev-right-r.svg) no-repeat center;
			}
		}
	}

	/* wr - white(default) red(hover) */
	&.wr {
		.pager-prev {
			background: url(../img/icn-chev-left-w.svg) no-repeat center;

			&:hover {
				background: url(../img/icn-chev-left-r.svg) no-repeat center;
			}
		}
		.pager-next {
			background: url(../img/icn-chev-right-w.svg) no-repeat center;

			&:hover {
				background: url(../img/icn-chev-right-r.svg) no-repeat center;
			}
		}
	}
}

//Circle list inside copy
.circle-list {
	margin:0 0 30px;
	padding:0;
	font-size: 16px;

	li {
		list-style: none;
		position: relative;
		padding:0 0 0 20px;
		margin: 0 0 15px;
		font-weight: 500;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top:7px;
			border:2px solid $color-primary;
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}
	}
}


//Pagination
.pagination {
	li {
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		border-radius: 50%;
		overflow: hidden;
		font-size: 14px;
		color: $color-grey;

		span, a {
			padding:0;
			color: $color-grey;

			&:after {
				display: none;
			}
		}

		&.prev, &.next {
			background: $color-grey;
			font-size: 20px;
			padding:0;

			&.disabled {
				padding:0;
				pointer-events: none;
				opacity: 0.6;
			}
		}

		&.current {
			background: $color-grey;
			padding:0;
		}
	}
}

//Custom Dorpdown radio and checkbox
ul.custom_dropdown {
	margin:0;
	padding:0;
	min-width: 150px;

	li {
		position: relative;
		list-style: none;
		margin:0;
		> a, > span {
			display: inline-block;
			vertical-align: top;
			white-space: nowrap;
			cursor: pointer;
			padding: 12px 25px 12px 15px;
			line-height: 1.3;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 100%;
			position: relative;
			font-size: 16px;
			font-weight: 500;

			i {
				font-size: 18px;
				position: absolute;
				right: 5px;				
			}
		}

		&:hover, &.hover {

			> a, > span {
				i {
					transform: rotate(-180deg);
				}
			}

			ul {
				display: block;
			}
		}

		label {
			margin:0;
			padding:5px 0;

			input {
				position: absolute;
				opacity: 0;
				top: 11px;
				z-index: 1;

				&:checked + span {
					&:before {
						background-color: $color-primary;
						border: solid 1px $color-primary;
						color: $color-white;
					}
					&:after {
						content: "\2713";
					}
				}
			}
			span {
				position: relative;
				display: block;
				padding:0 0 0 25px;
				white-space: nowrap;
				font-size: 15px;

				&:before {
					content: "";
					width:15px;
					height: 15px;
					border: solid 1px $color-grey;
					background-color: $color-white;
					position: absolute;
					left:0;
					top:5px;
				}
				&:after {
					content: "";
					width: 15px;
					height: 15px;
					position: absolute;
					left: 3px;
					top: 4px;
					font-size: 11px;
					color: #fff;
					transform: rotate(16deg);
					font-weight: bold;
				}
			}
		}
	}
	ul {
		position: absolute;
		left:0;
		max-width: 320px;
		top:100%;
		margin:0;
		display: none;
		z-index: 999;
		background: $color-white;
		box-shadow: 0 3px 25px 0 rgba(207, 215, 225, 0.6);
		padding:15px;
		min-width: 100%;

		li {
			&:hover {
				background: none;
				box-shadow: none;
			}
			&:first-child {
				border-bottom: 1px solid $color-grey;
			}
		}
	}
}



//Check list
ul.check-list, ul.check_list {
	margin: 0 0 25px;
	padding: 0;

	li {
		list-style: none;
		padding: 5px 0 5px 40px;
		position: relative;

		&:before {
			content: "";
			background: url(../img/icon/tick.svg) no-repeat left top;
			position: absolute;
			width: 30px;
			height: 30px;
			left: 0;
			top: 3px;
		}
	}

	&.inline {

		li {
			display: inline-block;
		}
	}

	&.primary {
		li:before {
			filter: invert(48%) sepia(10%) saturate(2704%) hue-rotate(77deg) brightness(99%) contrast(82%);	
		}
	}
	
}

.square_list {
	margin: 0 0 30px;
	padding: 0;

	li {
		list-style: none;
		padding: 5px 0 5px 25px;
		position: relative;

		&:before {
			content: "";
			background: $color-primary;
			position: absolute;
			width: 8px;
			height: 10px;
			left: 0;
			top: 13px;
			transform: skewX(-15deg);
		}
	}

	&.inline {

		li {
			display: inline-block;
		}
	}
}



//Radius button and label
.radius {
	border-radius: 10px; 

	&.button {
		border-radius: 10px;
	}
}


//Round button and label
.round {
	border-radius: 30px;

	&.button {
		border-radius: 30px;
	}

	&-0111 {
		border-radius: 2px 20px 20px 20px;
	}
	&-1011 {
		border-radius: 20px 2px 20px 20px;
	} 
	&-1101 {
		border-radius: 20px 20px 2px 20px;
	}
	&-1110 {
		border-radius: 20px 20px 20px 2px;
	}
}


// Custom Icons (list, size, position)
.icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	

	//Icon list
	&.icn_bell {
		background: url(../img/icon/notification.svg) no-repeat center center;
	}

	
	//Icon SIze
	&.large {
		width: 40px;
		height: 40px;
		background-size: 40px;
	}


	

	//Icon position
	&_left {
		position: relative;
		padding-left: 60px;
		margin-bottom: 20px;
		text-align: left;
		
		.icon, .wp-block-media-text__media {
			position: absolute;
			left: 0;
			max-width: 40px;
			width: auto;
			height: auto;
		}


		&.large {
			padding-left: 110px;
	
			.icon, .wp-block-media-text__media {
				max-width: 85px;
			}
		}
	}
}


.mbn-accordion {
	.accordion-item {
		border-bottom: 1px solid $color-light;
	}

	.is-active {
		.accordion-title {
			background: $color-light;;

			&:before {
				content: '';
				transform: rotate(-45deg);
			}
		}
	}

	.accordion-title {
		font: bold 16px $font-rajdhani;
		color: $color-dark;
		border: 0;
		padding: 15px 10px;
		text-transform: uppercase;

		&:before {
			content: '';
			border: 2px solid #888;
			border-left-color: transparent;
			border-bottom-color: transparent;
			width: 11px;
			height: 11px;
			transform: rotate(135deg);
		}
	}

	.accordion-content {
		padding: 10px;
		border: 0;
	}
}

.popup_wrap {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba($color-black, 0.8);
	display: none;
	overflow: scroll;
	transition:all 0.5s ease;
	opacity: 0;
	z-index: 99999;

	&.show {
		display: block;
		opacity: 1;
	}

	.popup_box {
		background: $color-white;
		padding: 45px;
		width: 690px;
		max-width: 100%;
		margin: 0 auto;
		max-height: 100vh;
		overflow: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.pop_close {
		position: absolute;
		right: 20px;
		top: 20px;
		width: 20px;
		height: 20px;
		background: url(../img/icon/close.svg) no-repeat center;
		z-index: 10;
		cursor: pointer;
	}
}

