
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus {outline:0 !important;}

body{
    font-family: $body-font-family;
    font-size: $body-font-size;
    color: $color-dark;
    font-weight: 300;
    overflow-x: hidden;

    &.popup-active {
       overflow: hidden;
    }
}


a {
    color: $color-primary;
    transition: 0.3s ease all;

    &:hover,
    &:focus{
        color: $color-dark;
    }
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
    font-family: $heading-font-family;
    line-height:1.1;
    margin-bottom: 15px;
}
h6 {
    font-weight: 400;
}

h1{
    font-size: 88px;
    line-height: 1;
}
h2{
    font-size: 56px;
}
h3{
    font-size:40px;
}
h4{
    font-size:32px;
}
h5{
    font-size:40px;
    font-family: $font-chantal;
    font-style: italic;
    color: $color-primary;
}
h6{
    font-size:18px;
    font-family: $font-rajdhani;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    strong {
        font-weight: 500;
    }
}

@media (max-width: 1280px){
    h1{
        font-size: 64px;
    }
    h2{
        font-size: 48px;
    }

}


@media (max-width: 639px){
    body{
        font-size: 14px;
    }

    h1{
        font-size: 40px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size:28px;
    }
    h4{
        font-size:24px;
    }
    h5 {
        font-size: 32px;
    }
}

img{
    max-width: 100%;
    height: auto;
}

p{
    line-height: 1.6;
    margin-bottom: 20px; 

    &.large {
        font-size: 20px;
    }
    &.small {
        font-size: 14px;
    }
    &.xlarge {
        font-size: 24px;
    }

    @media (max-width: 767px) {   
        &.large {
            font-size: 18px;
        }
        &.small {
            font-size: 14px;
        }
        &.xlarge {
            font-size: 20px;
        }
    }
}

ul {
    &.large {
        font-size: 24px;
    }
    &.small {
        font-size: 18px;
    }

    &.letter {
        list-style: lower-latin;
    }

    &.roman {
        list-style: lower-roman;        
    }

    @media (max-width: 767px) {   
        &.large {
            font-size: 18px;
        }
        &.small {
            font-size: 14px;
        }
    }
}

ol {
    &.large {
        font-size: 24px;
    }
    &.small {
        font-size: 18px;
    }

    @media (max-width: 767px) {   
        &.large {
            font-size: 18px;
        }
        &.small {
            font-size: 14px;
        }
    }
}


blockquote {
    border-left-width: 0;
    border-color: $color-primary;
    color: $color-dark;
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.2;
    margin: 30px 0 70px;
    padding: 20px 0 0 50px;
    position: relative;

    &:before {
        content: "";
        width: 80px;
        height: 80px;
        position: absolute;
        left: -40px;
        top:0;
        background: url(../img/icon/quote2.svg) no-repeat center;
    }

    p {
        line-height: 1.2;
        color: $color-primary;
    }

    &.quote {
        padding: 50px 0 0 180px;
        font-size: 48px;

        &:before {
            content: "";
            width: 95px;
            height: 105px;
            position: absolute;
            left: 20px;
            top:0;
            background: $color-primary url(../img/icon/quote.svg) no-repeat center;
            transform: skewX(-15deg);
        }


        p {
            color: $color-dark;
            margin-bottom: 30px;
            line-height: 1.2;
        }

        cite {
            line-height: 1;
            text-align: left;
            font: 600 24px  $font-rajdhani;
            font-style: normal;
            color: $color-dark;
            text-transform: uppercase;

            &:before {
                display: none;
            }

            small, s {
                font: 300 16px  $body-font-family;
                display: block;
                color: $color-lgrey;
                text-transform: none;
                text-decoration: none;
            }

        }

        &.small {
            font-size: 20px;
            padding: 20px 0 0 120px;

            &:before {
                content: "";
                width: 65px;
                height: 75px;
                background-size: 32px;
            }

            p {
                line-height: 1.4;
            }
        }

        &.large {
            font-size: 64px;

            &:before {
                content: "";
                width: 115px;
                height: 125px;
            }
        }
    }

    @media (max-width: 1366px) {
        &.quote {
            font-size: 32px;

            &.large {
                font-size: 46px;
            }
        }
    }

    @media (max-width: 1023px) {

        font-size: 24px;
        margin-bottom: 40px;
        
        &:before {
            left: -25px;
            background-size: 50px;
        }

        &.quote {
            padding: 90px 0 0;
            font-size: 28px;

            &:before {
                content: "";
                width: 65px !important;
                height: 70px !important;
                background-size: 38px;
            }

            &.small {
                padding-left: 90px;

                &:before {
                    left: 0;
                }
            }
            
            &.large {
                font-size: 42px;
            }
        }
    }

    @media (max-width: 767px) {
        &.quote {
            font-size: 22px;
            padding: 85px 0 0 !important;
            
            &.small {
                font-size: 18px;
            }

            &.large {
                font-size: 32px;
            }
        }
    }
}


