// Page Banner
.sec_banner {
    position: relative;
    padding: 150px 0 80px;
    text-align: center;

    .banner_copy {
        position: relative;
    }

    .banner_images {
        overflow: hidden;
        ul {
            display: flex;
            margin: 0 -100px;

            li {
                list-style: none;
                padding: 0 50px;
                width: 33.333%;
                text-align: center;
            } 
        }
    }

    ~ .page_content {
        padding-top: 0;
    }
}



// Page Content
//==================================
.page_content {
    position: relative;
    padding: 150px 0;
}


//About page
.sec_why_elio {
    position: relative;
    background:$color-dark url(../img/bg-why-elio.jpg) no-repeat center bottom / cover;
    padding: 8% 0 35%;
    color: $color-white;

    .check-list {
        li {
            &:before {}
        }
    }
}

.sec_how_elio {
    padding: 120px 0 0;
}

.sec_elio_mission {
    padding: 0 0 120px;

    .mission_copy {
        max-width: 810px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: -50vw;
            right: calc(100% + 30px);
            top: -50px;
            background: $color-success;
            margin-left: 50%;
            height: 125px;
            transform: skewX(-15deg);
        }
    }

    .mission_image {
        position: relative;
        padding: 430px 40px 40px;
        color: $color-white;

        p {
            font-size: 40px;
            line-height: 1.4;
        }

        .bg {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            border-bottom: 12px solid $color-success;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .logo {
            float: right;
            margin-left: 50px;
        }
    }  
}

.sec_board_members {
    background: $color-light;
    padding: 120px 0;  

    .member_item {
        margin-bottom: 70px;
    }
}


//Features page




// 404 Page
body.error404 #header {
    background: $color-dark;
}
.sec-404 {
    padding: 150px 0 100px;
    text-align: center;
}

