// Page Banner
.sec_banner {
    position: relative;
    padding: 150px 0 80px;
    text-align: center;

    .banner_copy {
        position: relative;
    }

    .banner_images {
        overflow: hidden;
        ul {
            display: flex;
            margin: 0 -100px;

            li {
                list-style: none;
                padding: 0 50px;
                width: 33.333%;
                text-align: center;
            } 
        }
    }

    ~ .page_content {
        padding-top: 0;
    }

    + .sec_feat_intro {
        margin-top: -80px;
    }

    @media (max-width: 1023px) {
        padding-top: 80px;

        .banner_images {
            ul {
                li {
                    display: none;
                    width: 100%;

                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }
    }
}



// Page Content
//==================================
.page_content {
    position: relative;
    padding: 150px 0;
}


//About page
.sec_why_elio {
    position: relative;
    background:$color-dark url(../img/bg-why-elio.jpg) no-repeat center bottom / cover;
    padding: 8% 0 35%;
    color: $color-white;

    h2 {
        font-size: 62px;
    }

    .copy {

        .check_list {
            font: 14px $font-rajdhani;

            li {
                margin-bottom: 10px;
                padding-top: 12px;
            }
        }
    }

    @media (max-width: 1366px) {
        h2 {
            font-size: 43px;
        }
    }
    
    @media (max-width: 1023px) {
        background-image: url(../img/bg-why-elio-tab.jpg);
        padding-top: 40px;
        padding-bottom: 105%;

        h2 {
            font-size: 40px;
        }
        h4 {
            font-size: 23px;
        }

        .copy {   
            .check_list {    
                li {
                    display: inline-block;
                    vertical-align: top;
                    width: 50%;
                    margin-right: -4px;
                }
            }
        }
    }
    
    @media (max-width: 767px) {
        background: none;
        padding: 0;

        h2 {
            font-size: 32px;
        }

        .copy {
            display: block;
            
            .check_list {    
                li {
                    display: block;
                    width: auto;
                    margin-right: auto;
                }
            }
        }

        .copy_left {
            background: url(../img/bg-why-elio-tab.jpg) no-repeat center bottom / cover;
            margin-left: -30px;
            margin-right: -30px;
            margin-bottom: 30px;
            padding: 40px 30px 100%;
            width: auto;
        }

        .copy_right {
            color: $color-dark;
        }

    }
}

.sec_how_elio {
    padding: 120px 0 0;

    
    @media (max-width: 1023px) { 
        padding-bottom: 50px;

        .pl-120 {
            padding-left: 90px;
        }

        .ml-120 {
            margin-left: 90px;
        }
    }
    
    @media (max-width: 767px) { 

        .pl-120 {
            padding-left: 0;
        }

        .ml-120 {
            margin-left: 0;
        }

    }
}

.sec_elio_mission {
    padding: 0 0 120px;

    .mission_copy {
        max-width: 810px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: -52vw;
            right: calc(100% + 30px);
            top: -50px;
            background: $color-success;
            margin-left: 50%;
            height: 125px;
            transform: skewX(-15deg);
        }
    }

    .mission_image {
        position: relative;
        padding: 430px 40px 40px;
        color: $color-white;

        p {
            font-size: 40px;
            line-height: 1.4;
        }

        .bg {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            border-bottom: 12px solid $color-success;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .logo {
            float: right;
            margin-left: 50px;
        }
    }  

    
    @media (max-width: 1023px) { 
        padding-left: 85px;
        padding-bottom: 80px;
        

        .mission_image {
            padding: 200px 20px 20px;

            &:before {
                left: -60vw;
            }

            p {
                font-size: 20px;
            }

            .logo {
                margin-left: 10px;
                width: 100px;
            }
        }
    }

    
    @media (max-width: 767px) { 
        padding-left: 0;

        .mission_copy {
            &:before {
                display: none;
            }
        }

        .mission_image {
            padding: 0;
            font-size: 14px;

            .bg {
                position: relative;
                margin-bottom: 20px;
            }

            p {
                color: $color-dark;
            }

            .logo {
                float: right;
                margin: -90px 20px 0 0;
                width: 65px;
            }
        }
    }

}

.sec_board_members {
    background: $color-light;
    padding: 120px 0;  

    .member_item {
        margin-bottom: 70px;
    }
}


//Features page
.sec_feat_intro {
    position: relative;

    .feat_must_have {
        padding-top: 50px;
    
        h5 {
            font: 24px $font-rajdhani;
            margin: 0;
        }
        h4 {
            font: 32px $font-rajdhani;
        }
    }
    
    .feat_images {
        margin: -120px calc((-105vw - #{-$grid-container}) / 2) 50px;
        overflow: hidden;
    
        ul {
            display: flex;
            margin: 0 -10%;
            align-items: center;

            li {
                list-style: none;
                padding: 0 50px;
                width: 32%;
                text-align: center;

                &:nth-child(2) {
                    width: 38%;
                }
            } 
        }
    }
    
        
    .note {
        color: $color-grey;
        font-size: 12px;
    }

    @media (max-width:1470px) {
        .feat_images {
            margin: -100px -30px 0;
        }
    }
    
    @media (max-width:1023px) {
        
        > * {
            display: flex;
            flex-flow: wrap;
        }

        .feat_must_have {
            width: 100%;
            order:3;
        }

        .feat_images {
            margin: -15% 0;
            width: 100%;
            order:1;
            z-index: -1;

            ul {
                li {
                    display: none;
                    width: 100% !important;

                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }
        .note {
            width: 100%;
            order:2
        }
    }
    
}

.sec_feat_detail {
    padding: 100px 0;

    h2 {
        margin-bottom: 40px;
    }

    h6 {
        font-weight: 600;
    }
}


// Find Us page
.sec_find_maploc {
    background: $color-light;
    padding: 0 0 80px;
 
    .wp-block-group__inner-container {
        max-width: none;
        padding:0;
    }

    .location_map {

        #gmap {
            height: 90vh;
            position: relative;
            overflow: hidden;
        }
    }

    ul.location_states {
        margin: 0;
        padding:50px 70px 0;

        li {
            list-style: none;
            display: inline-block;    
            font:16px $font-rajdhani;   
            
            h4 {
                font-size: 18px;
                font-weight: bold;
            }
        }

        ul {
            margin:0;
            padding:0;

            li {
                display: block;
                font-weight: 400; 

                a {
                    color: $color-dark;
                    display: block;
                    padding: 3px 0;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }   
    
    .note {
        font-size: 14px;
        color: $color-primary;
        text-align: center;
    }

}

.sec_find_centers {
    padding: 70px 0;

    h2 {
        margin-bottom: 25px;
    }

    .mbn-accordion {
        
        .none {
            display: block;
            margin: 0 auto 15px;
        }

        .left {
            float: left;
            margin: 0 15px  15px 0;
        }
        .right {
            float: right;
            margin: 0 0  15px 15px;
        }
    }
}

.sec_find_contact {
    position: relative;
    background: $color-light;
    padding: 70px 0;

    .contact_box {
        background: $color-white;
        padding: 45px;
    }
}





// 404 Page
body.error404 #header {
    background: $color-dark;
}
.sec-404 {
    padding: 150px 0 100px;
    text-align: center;
}

